<%- include("partials/active-header") -%>



<div class="container">
    <div class="row">
        <div class="col">
            

<h2>Digital portraits!</h2>
 <p>Upload your favorite photo! We'll turn it into an incredible digital portrait of any size. Keep it clean! You will receive an email confirmation, and a link to securely process your payment. </p>
 
 
 <form method="POST" action="/upload" enctype="multipart/form-data">

<P>

    <input type="file" name="image">

</P>

<P>

    <input type="text-area" name="name" placeholder="First & Last Name">

</P>
 





   <input type="submit" class="btn btn-success">  















   
        </div>
    </div>
</div>

</form>

<hr class ="hr_1">

















<%-include("partials/footer")-%>