<%- include("partials/header") -%>





  <div class="container">
    <h2>Welcome to my art blog</h2>
    <img src="Images/Jess.png"
      class="profile_img" alt="" srcset="">
    

           <P> Hello! I’m Jessica, the creator of Oversensitive Sunflower. Here’s a little background about me
and the values that OSSF upholds:</P>
<p>
I grew up in the suburbs of Detroit, MI, before attending Rutgers University in New Jersey for
my bachelor’s in Linguistics and Anthropology. Since school has always been a ‘safe space’ for
me, I went straight from undergrad into a PhD program in Linguistics and Anthropology at the
University of Arizona – which led me straight down a path to burnout at the age of 25.
Having been through my own personal mental health journey, I decided to pursue a different
career path as a mental health counselor. I have found that counseling is a great way to unleash
the potential of my forever-expanding empathy, intelligence, and creativity. My goal is not to
‘fix’ people or even ‘heal’ them. My goal is to empower people and help them find their voice.

</p>
<p>
In my personal experiences, self-expression has been the key to resilience and relief when faced
with intergenerational cycles of trauma and addiction. And that’s how Oversensitive Sunflower
started – as a platform for self-expression. Less than a month before the COVID-19 pandemic
began, I started an Instagram page for all of my various art and mental health-related musings.
Having this platform has helped me navigate some of my own inner demons, and I hope it will
encourage you to do the same. As I have progressed through my master’s degree in counseling,
I have also encountered a lot of useful information I wished I had access to earlier in life.
Therefore, I hope to both inform and inspire. </p>

<p>
“Mental health” is not just a set of issues or illnesses; it is central to our well-being and
everyday functioning. Developing emotional awareness is key when it comes to managing our
experiences of mental illnesses, as opposed to seeking a ‘cure’ for them. I also believe that
improving mental health outcomes requires both individual and community-based efforts, so I
envision OSSF as a virtual community-building space. And my idea of community rests upon the
principle of inclusivity, meaning that every individual’s cultural background should be embraced
rather than simply ‘tolerated.’ Social justice issues are inherently mental health issues, and
mental health issues are inherently social justice issues.</P>
  </div>
  





  <%-include("partials/footer")-%>