<%- include("partials/header") -%>




<div class="container">
    <form role="form" method="post" action="/logout">
        
            <p> Have a nice day! </p>
<div class="container">
    <div class="row">
        <div class="col">


          

        </div>
    </div>
</div>
        
            

       
    </form>












<%-include("partials/footer")-%>