<%- include("partials/blank-header") -%>


    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>

<h2> Shop posters!</h2>
<hr>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="shop-item">
            
<h2> Kash Doll </h2> 
                <a href='https://buy.stripe.com/dR6dSR0ecgXWd9u4gg'>
                <img class="shop-item-image"
                src="Images/kash.png"
                 alt="Kash Doll" /></a>

        <div class="description">
          
         <h2>$11.99</h2></a>
          
    
</div>
</div>
        </div>
<div class="col-sm-4">
            <div class="shop-item">
                <h2> Miracles </h2>
                <a href=' https://buy.stripe.com/9AQ9CB1ig0YYd9uaEF'>
            <img class="shop-item-image"
             src="https://ibb.co/1Jkhcyr"
             alt="Miracles" /></a>
    
             <div class="description">
             <h2>$9.99</h2>
             
             </div>
            
</div>
</div>


    <div class="col-sm-4">
       

                <div class="shop-item">
                    <h2> Moody</h2>
                    <a href='https://buy.stripe.com/aEU021gda232c5q9AC'>
                <img class="shop-item-image"
               
                 src="https://ibb.co/qjbN8vk"
                 alt="Mood" /></a>
                
                 <div class="description">
                  
                 <h2>$9.99</h2>
               
                 </div>
                 
                 
                 
    
    </div>
    </div>
    </div>
    </div>

            





    <%-include("partials/footer")-%>