<%- include("partials/blank-header") -%>


    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>

<h2> Shop posters!</h2>

<hr>

<div class="container">

<div class="row">
    <div class="col-sm-4">
            <div class="shop-item">

             <img class="shop-item-image"
             src="https://scontent.fdet1-1.fna.fbcdn.net/v/t1.0-9/130299546_208468710856002_8876663472685907129_o.png?_nc_cat=107&ccb=2&_nc_sid=8024bb&_nc_ohc=-02lhxWgYAQAX84q-C2&_nc_ht=scontent.fdet1-1.fna&oh=6b3ac8040ed72c3f873daedbcb2ea36d&oe=601400A2"
             alt="Doll" />

             <div class="description">
             <h2>Doll</h2>
             <h3>$11.99</h3>
             </div>

            <button id="checkout-button" class="btn btn-warning">Checkout</button>
           </div>
           </div>
<div class="col-sm-4">
            <div class="shop-item">

            <img class="shop-item-image"
             src="https://scontent.fdet1-1.fna.fbcdn.net/v/t1.0-9/118594860_167641001605440_4528174919482982099_o.jpg?_nc_cat=101&ccb=2&_nc_sid=2d5d41&_nc_ohc=dVGj_lS4ESEAX-0R009&_nc_ht=scontent.fdet1-1.fna&oh=14eec20cb4f1e1e73763e05d616267e4&oe=60148831"
             alt="Power" />
    
             <div class="description">
             <h2>Power</h2>
             <h3>$9.99</h3>
             </div>
    
                
             <button id="checkout-button1" class="btn btn-warning">Checkout</button>

</div>
</div>

<div class="col-sm-4">
<div class="shop-item">
    
    <img class="shop-item-image"
        src="https://scontent.fdet1-1.fna.fbcdn.net/v/t1.0-9/110791671_151990013170539_5836220212289867910_n.jpg?_nc_cat=106&ccb=2&_nc_sid=2d5d41&_nc_ohc=jmcBbDfNYi8AX9B2fQc&_nc_ht=scontent.fdet1-1.fna&oh=6ecec13fab43995899380c2ae48d95be&oe=6017E915"
        alt="Jess" />

    <div class="description">
        <h2>Jess</h2>
        <h3>$7.99</h3>
    </div>

    <button id="checkout-button2" class="btn btn-warning">Checkout</button>
                   
 </div>             
</div>
</div>
</div>
                
                
            


<hr>


<div class="container">

    <div class="row">
        <div class="col-sm-4">
                <div class="shop-item">
    
                 <img class="shop-item-image"
                 src="https://scontent.fdet1-1.fna.fbcdn.net/v/t1.0-9/96095056_109048277464713_3981654899250167808_o.jpg?_nc_cat=107&ccb=2&_nc_sid=2d5d41&_nc_ohc=shTGn4twQx4AX9vF8hG&_nc_ht=scontent.fdet1-1.fna&oh=b0d87a425acd8ca01030af9a15db8b18&oe=6014C3AB"
                 alt="Miracle" />
    
                 <div class="description">
                 <h2>Miracle</h2>
                 <h3>$9.99</h3>
                 </div>
    
                <button id="checkout-button3" class="btn btn-warning">Checkout</button>
               </div>
               </div>
    <div class="col-sm-4">
                <div class="shop-item">
    
                <img class="shop-item-image"
                 src="https://scontent.fdet1-2.fna.fbcdn.net/v/t1.0-9/109444356_155704692799071_2496486456411889218_o.jpg?_nc_cat=111&ccb=2&_nc_sid=2d5d41&_nc_ohc=FgzfMmsIQU0AX8Beire&_nc_ht=scontent.fdet1-2.fna&oh=d77568421f0e890dd177555794e6f537&oe=60158DFB"
                 alt="Moody" />
        
                 <div class="description">
                 <h2>Moody</h2>
                 <h3>$9.99</h3>
                 </div>
        
                    
                 <button id="checkout-button4" class="btn btn-warning">Checkout</button>
    
    </div>
    </div>
    
    <div class="col-sm-4">
    <div class="shop-item">
        
        <img class="shop-item-image"
            src="https://scontent.fdet1-1.fna.fbcdn.net/v/t1.0-9/82110231_130481328654741_5433284580360585216_n.jpg?_nc_cat=101&ccb=2&_nc_sid=9e2e56&_nc_ohc=ku2zRsRYFh0AX-l97FI&_nc_ht=scontent.fdet1-1.fna&oh=7aeafa87760d6a32fdafd0317694ef5b&oe=6015C5B9"
            alt="Jess" />
    
        <div class="description">
            <h2>Outside Agitators (DONATE)</h2>
            <h3>$9.99</h3>
        </div>
    
        <button id="checkout-button5" class="btn btn-warning">DONATE</button>
                       
     </div>             
    </div>
    </div>
    </div>

            




    <script type="text/javascript">
        // Create an instance of the Stripe object with your publishable API key
        var stripe = Stripe("pk_live_51HzrQNKXbWa2qZE46ADoRZB32MtmXIOD4KTtScGeOTupGI6qSJgsVv6l8T2zntWAOWKNO78Bvk7qDDRzAOmaDFjN00AfmVX6jQ");
        var checkoutButton = document.getElementById("checkout-button");
        checkoutButton.addEventListener("click", function () {
            fetch("/create-checkout-session", {
                method: "POST",
            })
                .then(function (response) {
                    return response.json();
                })
                .then(function (session) {
                    return stripe.redirectToCheckout({ sessionId: session.id });
                })
                .then(function (result) {
                    // If redirectToCheckout fails due to a browser or network
                    // error, you should display the localized error message to your
                    // customer using error.message.
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function (error) {
                    console.error("Error:", error);
                });
        });
    </script>



<script type="text/javascript">
    // Create an instance of the Stripe object with your publishable API key
    var stripe = Stripe("pk_live_51HzrQNKXbWa2qZE46ADoRZB32MtmXIOD4KTtScGeOTupGI6qSJgsVv6l8T2zntWAOWKNO78Bvk7qDDRzAOmaDFjN00AfmVX6jQ");
    var checkoutButton = document.getElementById("checkout-button1");
    checkoutButton.addEventListener("click", function () {
        fetch("/create-checkout-session1", {
            method: "POST",
        })
            .then(function (response) {
                return response.json();
            })
            .then(function (session) {
                return stripe.redirectToCheckout({ sessionId: session.id });
            })
            .then(function (result) {
                // If redirectToCheckout fails due to a browser or network
                // error, you should display the localized error message to your
                // customer using error.message.
                if (result.error) {
                    alert(result.error.message);
                }
            })
            .catch(function (error) {
                console.error("Error:", error);
            });
    });
</script>



<script type="text/javascript">
    // Create an instance of the Stripe object with your publishable API key
    var stripe = Stripe("pk_live_51HzrQNKXbWa2qZE46ADoRZB32MtmXIOD4KTtScGeOTupGI6qSJgsVv6l8T2zntWAOWKNO78Bvk7qDDRzAOmaDFjN00AfmVX6jQ");
    var checkoutButton = document.getElementById("checkout-button2");
    checkoutButton.addEventListener("click", function () {
        fetch("/create-checkout-session2", {
            method: "POST",
        })
            .then(function (response) {
                return response.json();
            })
            .then(function (session) {
                return stripe.redirectToCheckout({ sessionId: session.id });
            })
            .then(function (result) {
                // If redirectToCheckout fails due to a browser or network
                // error, you should display the localized error message to your
                // customer using error.message.
                if (result.error) {
                    alert(result.error.message);
                }
            })
            .catch(function (error) {
                console.error("Error:", error);
            });
    });
</script>

<script type="text/javascript">
    // Create an instance of the Stripe object with your publishable API key
    var stripe = Stripe("pk_live_51HzrQNKXbWa2qZE46ADoRZB32MtmXIOD4KTtScGeOTupGI6qSJgsVv6l8T2zntWAOWKNO78Bvk7qDDRzAOmaDFjN00AfmVX6jQ");
    var checkoutButton = document.getElementById("checkout-button3");
    checkoutButton.addEventListener("click", function () {
        fetch("/create-checkout-session3", {
            method: "POST",
        })
            .then(function (response) {
                return response.json();
            })
            .then(function (session) {
                return stripe.redirectToCheckout({ sessionId: session.id });
            })
            .then(function (result) {
                // If redirectToCheckout fails due to a browser or network
                // error, you should display the localized error message to your
                // customer using error.message.
                if (result.error) {
                    alert(result.error.message);
                }
            })
            .catch(function (error) {
                console.error("Error:", error);
            });
    });
</script>

<script type="text/javascript">
    // Create an instance of the Stripe object with your publishable API key
    var stripe = Stripe("pk_live_51HzrQNKXbWa2qZE46ADoRZB32MtmXIOD4KTtScGeOTupGI6qSJgsVv6l8T2zntWAOWKNO78Bvk7qDDRzAOmaDFjN00AfmVX6jQ");
    var checkoutButton = document.getElementById("checkout-button4");
    checkoutButton.addEventListener("click", function () {
        fetch("/create-checkout-session4", {
            method: "POST",
        })
            .then(function (response) {
                return response.json();
            })
            .then(function (session) {
                return stripe.redirectToCheckout({ sessionId: session.id });
            })
            .then(function (result) {
                // If redirectToCheckout fails due to a browser or network
                // error, you should display the localized error message to your
                // customer using error.message.
                if (result.error) {
                    alert(result.error.message);
                }
            })
            .catch(function (error) {
                console.error("Error:", error);
            });
    });
</script>


<script type="text/javascript">
    // Create an instance of the Stripe object with your publishable API key
    var stripe = Stripe("pk_live_51HzrQNKXbWa2qZE46ADoRZB32MtmXIOD4KTtScGeOTupGI6qSJgsVv6l8T2zntWAOWKNO78Bvk7qDDRzAOmaDFjN00AfmVX6jQ");
    var checkoutButton = document.getElementById("checkout-button5");
    checkoutButton.addEventListener("click", function () {
        fetch("/create-checkout-session5", {
            method: "POST",
        })
            .then(function (response) {
                return response.json();
            })
            .then(function (session) {
                return stripe.redirectToCheckout({ sessionId: session.id });
            })
            .then(function (result) {
                // If redirectToCheckout fails due to a browser or network
                // error, you should display the localized error message to your
                // customer using error.message.
                if (result.error) {
                    alert(result.error.message);
                }
            })
            .catch(function (error) {
                console.error("Error:", error);
            });
    });
</script>




    <%-include("partials/footer")-%>