*, html {
   margin:0;
   padding:0;  
}

.jumbotron {
   background-image: url('brigitte-tohm-RvnyqgrWjR0-unsplash.jpg');
   height: 100vh;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   border-bottom: 1px solid #ff6a00;
   
  
  

}

.navbar-main {


   border-bottom: 1px;
   height: 85px;
   background-image: linear-gradient(15deg, #A0837D 0, #fdbb2d 100%);
   
}




.navbar-nav,
.navbar .nav-link {
   
   font-family: 'Permanent Marker', cursive;
   font-size: 1.3rem;
}

.navbar-dark .navbar-nav .nav-link {
   color: red !important;
}


.main-text {
   font-family: 'Permanent Marker', cursive;
   color: #532310;



}


h1 {

   text-align: right;
   margin-top: 50px;

}

h2 {

   font-family: 'Permanent Marker', cursive;
   color: #532310;
   font-size: 2.6rem;
   padding: 25px;


}

.jess {

   border-radius: 50%;


}

.container {

   text-align: center;
   padding: 35px;

}

p {

   font-family: 
   color: #fdbb2d;
   font-size: 1.6rem;
   padding: 35px;

}


.art-blog-title, .shop-title {

   color:#fdbb2d;
   padding:10%;
}

.carousel {
   margin: 50px auto;
   padding: 0 70px;
}

.carousel .item {
   min-height: 330px;
   text-align: center;
   overflow: hidden;
}

.carousel .item .img-box {
   height: 160px;
   width: 100%;
   position: relative;
}

.carousel .item img {
   max-width: 100%;
   max-height: 100%;
   display: inline-block;
   position: absolute;
   bottom: 0;
   margin: 0 auto;
   left: 0;
   right: 0;
}

.carousel .item h4 {
   font-size: 18px;
   margin: 10px 0;
}

.carousel .item .btn {
   color: #333;
   border-radius: 0;
   font-size: 11px;
   text-transform: uppercase;
   font-weight: bold;
   background: none;
   border: 1px solid #ccc;
   padding: 5px 10px;
   margin-top: 5px;
   line-height: 16px;
}

.carousel .item .btn:hover,
.carousel .item .btn:focus {
   color: #fff;
   background: #000;
   border-color: #000;
   box-shadow: none;
}

.carousel .item .btn i {
   font-size: 14px;
   font-weight: bold;
   margin-left: 5px;
}

.carousel .thumb-wrapper {
   text-align: center;
}

.carousel .thumb-content {
   padding: 15px;
}

.carousel .carousel-control {
   height: 100px;
   width: 40px;
   background: none;
   margin: auto 0;
   background: rgba(0, 0, 0, 0.2);
}

.carousel .carousel-control i {
   font-size: 30px;
   position: absolute;
   top: 50%;
   display: inline-block;
   margin: -16px 0 0 0;
   z-index: 5;
   left: 0;
   right: 0;
   color: rgba(0, 0, 0, 0.8);
   text-shadow: none;
   font-weight: bold;
}

.carousel .item-price {
   font-size: 13px;
   padding: 2px 0;
}

.carousel .item-price strike {
   color: #999;
   margin-right: 5px;
}

.carousel .item-price span {
   color: #86bd57;
   font-size: 110%;
}



* {
   margin: 0px;
   padding: 0px;
}

*,
*:after,
*:before {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   -o-box-sizing: border-box;
   box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
   display: table;
   content: '';
}

.clearfix:after {
   clear: both;
}


body {
   background: #ffffff;
   color: #333;
   font-weight: normal;
   font-size: 1em;
   font-family: 'Roboto', Arial, sans-serif;
}

input:focus,
textarea:focus,
keygen:focus,
select:focus {
   outline: none;
}

::-moz-placeholder {
   color: #666;
   font-weight: 300;
   opacity: 1;
}

::-webkit-input-placeholder {
   color: #666;
   font-weight: 300;
}


/* Contact Form Styling */
.container {
   padding: 0 50px 70px;
}

.textcenter {
   text-align: center;
}

.section1 {
   text-align: center;
   display: table;
   width: 100%;
}

.section1 .shtext {
   display: block;
   margin-top: 20px;
}

.section1 .seperator {
   border-bottom: 1px solid #a2a2a2;
   width: 35px;
   display: inline-block;
   margin: 20px;
}

.section1 h1 {
   font-size: 40px;
   color: #A44DD8;
   font-weight: normal;
}

.section2 {
   width: 1200px;
   margin: 25px auto;
}

.section2 .col2 {
   width: 48.71%;
}

.section2 .col2.first {
   float: left;
}

.section2 .col2.last {
   float: right;
}

.section2 .col2.column2 {
   padding: 0 30px;
}

.section2 span.collig {
   color: #a2a2a2;
   margin-right: 10px;
   display: inline-block;
}

.section2 .sec2addr {
   display: block;
   line-height: 26px;
}

.section2 .sec2addr p:first-child {
   margin-bottom: 10px;
}

.section2 .sec2contactform input[type="text"],
.section2 .sec2contactform input[type="email"],
.section2 .sec2contactform textarea {
   padding: 18px;
   border: 0;
   background: #EDEDED;
   margin: 7px 0;
}

.section2 .sec2contactform textarea {
   width: 100%;
   display: block;
   color: #666;
   resize: none;
}

.section2 .sec2contactform input[type="submit"] {
   padding: 15px 40px;
   color: #fff;
   border: 0;
   background: #A44DD8;
   font-size: 16px;
   text-transform: uppercase;
   margin: 7px 0;
   cursor: pointer;
}

.section2 .sec2contactform h3 {
   font-weight: normal;
   margin: 20px 0;
   margin-top: 30px;
   border-bottom: 1px solid #ddd;
   padding-bottom: 19px;
   color: #A44DD8;
}

/* @media querries */

@media only screen and (max-width: 1266px) {
   .section2 {
      width: 100%;
   }
}

@media only screen and (max-width: 960px) {
   .container {
      padding: 0 30px 70px;
   }

   .section2 .col2 {
      width: 100%;
      display: block;
   }

   .section2 .col2.first {
      margin-bottom: 10px;
   }

   .section2 .col2.column2 {
      padding: 0;
   }

   body .sec2map {
      height: 250px !important;
   }
}

@media only screen and (max-width: 768px) {
   .section2 .sec2addr {
      font-size: 14px;
   }

   .section2 .sec2contactform h3 {
      font-size: 16px;
   }

   .section2 .sec2contactform input[type="text"],
   .section2 .sec2contactform input[type="email"],
   .section2 .sec2contactform textarea {
      padding: 10px;
      margin: 3px 0;
   }

   .section2 .sec2contactform input[type="submit"] {
      padding: 10px 30px;
      font-size: 14px;
   }
}

@media only screen and (max-width: 420px) {
   .section1 h1 {
      font-size: 28px;
   }
}

.contactUs {


   color: #A0837D;
}


.site-footer {
   background-image: linear-gradient(15deg, #A0837D 0, #fdbb2d 100%);
   padding:15px;
   height: 18vh;
  
}

h6 {

   margin: 15px;
   color: white;
}

.fa-facebook {
   color: blue
}

.fa-twitter {

   color: #1DA1F2;

}


.fa-youtube {

   color: #FF0000;

}


.fa-instagram {

   color: #833AB4;

}

h4 {

   font-family: 'Permanent Marker', cursive;
   padding:25px;

}

.card {

   border:none;

}

